.header {
    -fx-background-color: linear-gradient(to right, #4A90E2, #357ABD);
    -fx-alignment: center-left;
}
.header-title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.header-btn {
    -fx-background-color: white;
    -fx-text-fill: #357ABD;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}
.header-btn:hover {
    -fx-background-color: rgba(255,255,255,0.8);
}

.card-btn {
    -fx-background-color: linear-gradient(to right, #4A90E2, #357ABD);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-padding: 4 8;
}
.card-btn:hover {
    -fx-background-color: linear-gradient(to right, #5AA0F2, #468CD5);
}

.subtitle {
    -fx-font-size: 20px;
    -fx-text-fill: #333;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-pref-width: 200;
    -fx-pref-height: 160;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0.2, 0, 3);
    -fx-cursor: hand;
}

.card-title {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}
.card-desc {
    -fx-font-size: 14px;
    -fx-text-fill: #777;
}

.primary-btn {
    -fx-background-color: linear-gradient(to right, #4A90E2, #357ABD);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}
.primary-btn:hover {
    -fx-background-color: linear-gradient(to right, #5AA0F2, #468CD5);
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-pref-width: 350;
    -fx-max-width: 350;
    -fx-background-radius: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 10, 0.3, 0, 2);
}

.sidebar-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.sidebar-scroll {
    -fx-background-color: #ffffff;
    -fx-padding: 10 0 10 0;
}

.sidebar .card {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-spacing: 10;
}

.side-card {
    -fx-background-color: linear-gradient(to right, #b6d6ff, #cde3ff);
    -fx-border-color: #9cccff;
    -fx-border-width: 2;

    -fx-padding: 15;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-max-width: Infinity;
}

.event-container {
    -fx-max-width: Infinity;
}
